@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Montserrat&family=Sofia&display=swap");
:root {
    --primary-Red: hsl(0, 100%, 74%);
    --primary-Green: hsl(154, 59%, 51%);
    --accent-Blue: hsl(248, 32%, 49%);
    --neutral-Dark-Blue: hsl(249, 10%, 26%);
    --neutral-Grayish-Blue: hsl(246, 25%, 77%);
    --body-Font-size: 16px;
    --font-family: Poppins;
    --Mobile-background: url('./img/bg-intro-mobile.png'), var(--primary-Red);
    --desktop-background: url('./img/bg-intro-desktop.png'), var(--primary-Red);
    --icon-error: url('./img/icon-error.svg') no-repeat scroll right 15px center;
}

*,
html,
::after,
::before {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
}

body {
    background: var(--Mobile-background);
    font-family: var(--font-family);
}

main {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.container-fluid {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}

.intro-text {
    font-size: larger;
}

.top-form {
    background: var(--accent-Blue);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 1px rgba(48, 48, 48, 0.537);
    margin: 10px auto;
}

.top-text {
    font-size: small;
    padding: 10px;
}

.pattern {
    color: white;
    align-self: center;
    justify-items: center;
}

.form-content {
    margin-bottom: 40px;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 4px 1px rgba(48, 48, 48, 0.537);
}

form {
    padding: 15px;
    margin: 10px 12px;
}

form input {
    width: 100%;
    padding: 15px;
}

.terms>span {
    color: var(--primary-Red);
}

.last {
    color: var(--neutral-Grayish-Blue);
    text-align: center;
    margin-bottom: 15px;
    font-size: x-small;
    font-weight: 400;
    padding: 10px;
    margin: 5px;
}

.text-info {
    text-align: justify;
    font-size: small;
    font-weight: 400;
}

.seprator {
    padding: 0.5em;
    margin: 0.5em;
}

input {
    margin-top: -4px;
    padding: 20px auto;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--neutral-Grayish-Blue);
    outline: var(--accent-Blue);
    outline-offset: 4pt;
}

label {
    visibility: hidden;
    float: right;
    color: var(--primary-Red);
    font-size: small;
    padding-bottom: 15px;
    padding-top: 3px;
}

input:focus-visible {
    outline: var(--accent-Blue);
    box-shadow: 0px 1px 1px var(--accent-Blue);
}

.submitcontainer {
    width: 100%;
    padding-top: 5px;
    display: grid;
}


/***** css checker *****/

.seprator:target input:invalid {
    outline: var(--primary-Red);
    box-shadow: 0px 1px 1px var(--primary-Red);
}

.seprator:target input:invalid:required,
.seprator:target input:not(:required) {
    border-color: var(--primary-Red);
    border-width: 2.3px;
    background: var(--icon-error);
    background-size: 18px;
}

.seprator:target input::-webkit-input-placeholder {
    color: transparent;
}

.seprator:target input:invalid~label,
.seprator:target input:invalid:active {
    visibility: visible;
}

.seperator input:active:focus:invalid {
    outline: var(--primary-Red);
    box-shadow: 0px 1px 1px var(--primary-Red);
}

#tem {
    color: var(--primary-Red);
}

#user-hint {
    text-align: left;
    font-size: smaller;
    margin-top: -55px;
    color: var(--primary-Red);
}

#user-hint~input:focus {
    display: none;
}

a[href="#validate"] {
    text-align: center;
    background-color: var(--primary-Green);
    box-shadow: 1px 1px 2px hsl(249, 10%, 26%);
    height: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    align-content: center;
    padding-bottom: 3;
}

a[href="#validate"] .trial {
    display: inline-block;
    padding-top: 17px;
}

a {
    text-decoration: none;
    color: white;
}

a[href="#validate"]:hover {
    cursor: pointer;
    background-color: hsl(154, 71%, 66%);
}

.form-area {
    width: fit-content;
}

.form-content {
    width: fit-content;
}


/***** mobile design *****/

@media screen and (max-width:375px) {
    body {
        background: var(--Mobile-background);
    }
    .container-fluid {
        display: inline-block;
    }
    .pattern {
        text-align: center;
        justify-content: center;
        color: white;
        margin: 25% auto;
    }
    .text-info {
        text-align: center;
    }
    .top-form {
        justify-content: center;
        background: var(--accent-Blue);
        color: white;
        padding: 10px 20px;
        margin: 10px auto;
    }
    a[href="#validate"] .trial {
        font-size: 11;
    }
    label {
        color: var(--primary-Red);
        font-size: x-small;
    }
}


/***** ipads/tablet screen *****/

@media only screen and (min-width:256px) and (max-width:768px) {
    body {
        background: var(--Mobile-background);
    }
    .container-fluid {
        display: inline-block;
    }
    .pattern {
        text-align: center;
        justify-content: center;
        color: white;
        margin: 25% auto;
    }
    .text-info {
        text-align: center;
    }
    a[href="#validate"] .trial {
        font-size: 11;
    }
}


/***** End ipads/tablet screen *****/


/***** End mobile design *****/


/***** End mobile design *****/